<h1>All The Campers</h1>

<%= button_to "Create New Camper", new_camper_path, method: :get %><br>

<ul>
  <% @campers.each do |camper| %>
    <li><%= link_to camper.name, camper_path(camper) %></li>
  <% end %>
</ul>