<h1>Activity Page</h1>

<strong>Name:</strong>
<%= @activity.name %><br><br>

<strong>Difficulty:</strong>
<%= @activity.difficulty %><br><br>

<%= button_to "Create New Signup", new_signup_path, method: :get %>